alembic==1.13.0
annotated-types==0.6.0
blinker==1.7.0
Bootstrap-Flask==2.3.3
click==8.1.7
Flask==3.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
inflect==7.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.3.0
MarkupSafe==2.1.3
psycopg==3.1.15
psycopg2-binary==2.9.9
pydantic==2.5.2
pydantic_core==2.14.5
setuptools==69.0.2
sqlacodegen
SQLAlchemy==2.0.23
typing_extensions==4.9.0
Werkzeug==3.0.1
WTForms==3.1.1
