{% extends 'base.html' %}
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    {% endblock %}

{% block maincontent %}
<div class="container-fluid">
<form class="login-body" method="POST">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
    <h1 class="h-center h2 mb-3 font-weight-normal">Register</h1>
        {{ form.hidden_tag() }}
        {{ form.username(class="form-login", placeholder="Username") }}<br><br>
        {{ form.password(class="form-login", placeholder="Password") }} <br><br>
        {{ form.login(class="form-login btn btn-large btn-dark", style="background-color: #014421;") }} <br>
        <p style="text-align: center;">Already registered?<br><a href="{{ url_for('auth.user_login') }}">Return to log in</a>
</form>
</div>
{% endblock %}